<head>
    <title>{{ page.title }} | StratusLab</title>
    
    <base href="{{ site.baseurl }}">
    
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/typography.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">

    <script type="text/javascript" src="js/highlight.pack.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>

</head>

