<div id="navigationWrapper" class="cf">
    <div class="wrapper">
        <ul id="navigation" class="cf">
            <li id="homeNav">
            <a href="index.html"></a>
            </li>
            <li id="blogNav">
            <a href="blog/"></a>
            </li>
            <li id="docNav">
            <a href="documentation/"></a>
            </li>
            <li id="filesNav">
            <a href="download/"></a>
            </li>
            <li id="tryNav">
            <a href="try/"></a>
            </li>
            <li id="aboutNav">
            <a href="about/"></a>
            </li>
        </ul>
    </div>
</div>

