<a href="http://www.twitter.com/StratusLab" id="twitterLogo"></a>
<a class="twitter-timeline"
   data-dnt="true"
   href="https://twitter.com/StratusLab"
   data-widget-id="373354495444414464">Tweets by @StratusLab</a>

<div id="twitter">
<!--
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
        new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 4,
            interval: 30000,
            width: 'auto',
            height: 300,
            theme: {
                shell: {
                    background: 'none',
                    color: 'none'
                },
                tweets: {
                    background: 'none',
                    color: 'none',
                    links: 'none'
                }
            },
            features: {
                scrollbar: false,
                loop: false,
                live: false,
                behavior: 'all'
            }
        }).render().setUser('StratusLab').start();
    </script>
-->

<!--
<script>
!function(d,s,id){
  var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
  if(!d.getElementById(id)){
    js=d.createElement(s);
    js.id=id;
    js.src=p+"://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);
  }
}(document,"script","twitter-wjs");
</script>
-->

</div>

