<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="about">

        {% include top_page.html %}

        <div class="mainColumn">
            <h1>{{ page.title }}</h1>

            {{ page.content | markdownify }}

            <h2 id="getintouch">Get in touch</h2>
            <ul id="contactList">
                <li><div class="contactIcon" id="supportAboutLink"></div><a href="https://groups.google.com/a/stratuslab.eu/forum/?fromgroups#!forum/user-forum">Support</a></li> 
                <li><div class="contactIcon" id="commercialAboutLink"></div><a href="http://sixsq.com/">Commercial support</a></li> 
                <li><div class="contactIcon" id="twitterAboutLink"></div><a href="http://www.twitter.com/StratusLab">Twitter</a></li> 
            </ul>

            {% for post in site.posts %}
                {% if post.category == "about" %}
            
                    <div class="news-snippet">
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date: "%d %B %Y" }}</span>
                        <br>
                        <!--<p>-->
                        <div class="abstract">{{ post.content | strip_html | truncatewords: 25 }}</div>
                        <!--</p>-->
                    </div>
                {% endif %}
            {% endfor %}


        </div>
        <div class="sidebarColumn">
            {% include twitter.html %}
        </div>                    
        <div class="cf"></div>


        {% include bottom_page.html %}

    </body>
</html>
