<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="{{page.category}}">

        {% include top_page.html %}

        <div class="mainColumn">
            <h1>{{ page.title }}</h1>
            <p class="articleDate">{{ page.date | date: "%d %B %Y" }}</p>

            <div class="article">
              {{ page.content | markdownify }}
            </div>

        </div>
        <div class="sidebarColumn">
            {% include twitter.html %}
        </div>                    

        <div class="cf"></div>
        {% include bottom_page.html %}

    </body>
</html>


