<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="{{page.category}}">

        {% include top_page.html %}

        <div class="mainColumn">
            <h1>{{ page.title }}</h1>

            <div class="introduction">
              {{ page.content | markdownify }}
            </div>

            {% capture downcase_title %}{{page.category | downcase}}{% endcapture %} 

            {% for post in site.posts %}
                {% if post.category == downcase_title %}
            
                    <div class="news-snippet">
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                        <br>
                        <!--<p>-->
                        <div class="abstract">{{ post.content | strip_html | truncatewords: 25 }}</div>
                        <!--</p>-->
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <div class="sidebarColumn">
            {% include twitter.html %}
        </div>                    

        <div class="cf"></div>
        {% include bottom_page.html %}

    </body>
</html>

