<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="home">

        {% include top_page.html %}

        <div class="mainColumn">
            <h1>Darn simple cloud</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna <a href="#">aliquam erat volutpat</a>. Ut wisi enim ad minim veniam, quis nostrud exercitation ulliam corper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem veleum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel willum lunombro dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p> 


            <div class="leftColumn">
                <div class="video-container">
                    <iframe class="video" src="http://www.youtube.com/embed/eR8OgKsuBoo" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="rightColumn">
                <div class="video-container">
                    <iframe class="video" src="http://www.youtube.com/embed/gDaWiuX93ss" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <div class="sidebarColumn">
            {% include twitter.html %}
        </div>                    
        <div class="cf"></div>

        <hr>
        <p><u>I suppose</u> I should put in a line with <em>emphasis</em> and <strong>strong words</strong>, too.</p>
        <hr>

        <p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental: in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</p>

        <ul>
            <li>First Item</li>
            <li>Second Item
            <ol>
                <li>First Item</li>
                <li>Second Item</li>
                <li>Third Item</li>
            </ol>
            </li>
            <li>Third Item</li>
            <li>Fifth Item</li>
        </ul>

        <pre><code>$ yum install stratuslab-cli-user
export PATH=$PATH:/bin
export PYTHONPATH=/lib/stratuslab/python
</code></pre>

        <p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental: in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</p>


        {% include bottom_page.html %}

    </body>
</html>
