<!DOCTYPE html>
<html>

    {% include head.html %}

    <body id="home">

        {% include top_page.html %}

        <div class="mainColumn">
            <h1>Darn simple cloud</h1>

<p>
Open Source (Apache 2.0) Infrastructure as a Service
(IaaS) <strong>cloud distribution</strong> that is both <strong>easy
to install and use</strong>.
</p>

<table>
<tr>
<td>
<p>
<h2>Users - <a href="/try">try it!</a></h2>
<ul>
<li><a href="https://register.stratuslab.eu:8444">Register</a> on the <a href="/try%20it/2012/02/10/try-reference-cloud-infrastructures.html">Reference infrastructure</a></li>
<li><a href="/install/2012/01/19/install-user-cli-installation.html">Install</a> user client</li>
<li><a href="/try%20it/2012/10/03/try-launch-vm.html">Launch</a> a Virtual Machine on cloud</li>
</ul>
</p>
</td>
<td>
<p> 
<h2>Data Centers - <a href="/install/2012/09/25/install-cloud-services-installation.html">install it!</a></h2>
<ul>
<li>Installing StratusLab takes a few minutes</li>
<li>Detailed <a href="/documentation">documentation</a> available</li>
</ul>
</p>
</td>
</tr>
</table>

<p>
<h2>What's Behind</h2>
StratusLab provides features for dynamic management of
<ul>
<li>Compute - thin provisioning, fast boot-up
<li>Storage - EBS-like persistent writes, snapshots, etc
<li>Network resources - public and private networks
</ul>
We think that's expected. But further, it also provides:
<ul>
<li>Uniform (but flexible) authentication and authorization system
<li>Shared image marketplace across several cloud instances
<li>Tools for simplifying image creation
<li>Facilities for federating StratusLab cloud infrastructures
</ul>
... and all of this, out-of-the-box!
</p>

<p>
Resource centers deploying the software benefit from <strong>improved
and simplified resource management</strong>; users of those resource
centers benefit from a more <strong>dynamic and customized computing
environment</strong>, simplifying the execution of their scientific
and commercial applications.
</p> 

<p>
<h2>Get Support</h2>
Need a hand? <a href="/about#getintouch">Get in touch</a>.
</p>

            <div class="leftColumn">
                <div class="video-container">
                    <iframe class="video" src="http://www.youtube.com/embed/eR8OgKsuBoo" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="rightColumn">
                <div class="video-container">
                    <iframe class="video" src="http://www.youtube.com/embed/gDaWiuX93ss" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <div class="sidebarColumn">
            {% include twitter.html %}
        </div>                    
        <div class="cf"></div>

        {% include bottom_page.html %}

    </body>
</html>
