<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

<html 
   xmlns="http://www.w3.org/1999/xhtml" 
   xml:lang="en" 
   version="XHTML+RDFa 1.0" 
   dir="ltr"
   xmlns:content="http://purl.org/rss/1.0/modules/content/"
   xmlns:dc="http://purl.org/dc/terms/"
   xmlns:foaf="http://xmlns.com/foaf/0.1/"
   xmlns:og="http://ogp.me/ns#"
   xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
   xmlns:sioc="http://rdfs.org/sioc/ns#"
   xmlns:sioct="http://rdfs.org/sioc/types#"
   xmlns:skos="http://www.w3.org/2004/02/skos/core#"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

  {% include head.html %}

  <body class="front_page">
    
    <div id="wrapper">

      {% include header.html %}
      
      <div id="content">
        
        <div id="content_background">
          
          <div class="main">

            <h1>darn simple cloud</h1>
            
             <p>StratusLab provides a <strong>complete IaaS cloud distribution</strong>
            for scalable public or private clouds.  The distribution is
            <strong>open-source</strong> and available under the business-friendly
            Apache2 License.</p>

             <p>The distribution has been designed so that both the cloud services
             and cloud clients are easy to install and use.</p>

             <div class="videos">
               <span class="video">
                 <iframe class="video" 
                         src="http://www.youtube.com/embed/eR8OgKsuBoo" 
                         allowfullscreen></iframe>
                 <br>StratusLab Online Tutorial
               </span>
               <span class="video">
                 <iframe class="video" 
                         src="http://www.youtube.com/embed/gDaWiuX93ss" 
                         allowfullscreen></iframe>
                 <br>StratusLab Introductory Video
               </span>
             </div>

          </div>

          {% include sidebar.html %}

        </div>
        
      </div>
      
      {% include footer.html %}
      
    </div>
  </body>
</html>
